IP = "127.0.0.1"
MYSQL_HOST = "127.0.0.1"
MYSQL_USER = "forgottenserver"
MYSQL_PASS = ""
MYSQL_DB = "forgottenserver"
MYSQL_SOCK = ""
RSA_P = ""
RSA_Q = ""

SQL_PORT = 3306
GAME_PORT = 7172
LOGIN_PORT = 7171
STATUS_PORT = 7171
